@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes text {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-text {
  background-size: 200% 200%;
  animation: text 5s ease infinite;
}
